
/* if this gets used, need to figure out a way to prevent buttons 
from being unaligned when going between Avenir and Segoe
- use CSS grids? */
/* @font-face {
  font-family: 'Avenir Next';
  src: url(../fonts/ave_next_ssv/AvenirNextLTPro-Regular.otf) format('opentype');
} */

html {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 35px;
}

.header {
  font-size: 25px;
  background-color: #1C2630;
  color: #FFFFFF;
  padding: 2px 1px 1px 8px;
  margin: -8px -8px 0px -8px;
}

a {
  font-size: 45px;
  font-weight: lighter;
  color: #222;
  background-color: #FFFFFF;
  border: 5px solid;
  border-color: #222;
  border-radius: 12px;
  text-decoration: none;
  padding: 45px 67.5px;
  margin: 10px;
  display:inline-block;
  width: 500px;
}

a:hover {
  color: #FFFFFF;
  background-color: #222;
}

.content, .warning {
  text-align: center;
}

h1 {
  font-weight: lighter;
}

.logo {
  float: left;
  padding: 15px 30px 15px 15px;
}

.name {
  padding: 4px 0px 4px 4px;
  text-transform: uppercase;
}

input[type=text] {
  font-size: 55px;
  border: 2px solid #222;
  border-radius: 4px;
}

button, input[type=submit] {
  font-size: 45px;
  border-radius: 12px;
  background-color: #222;
  color: white;
  padding: 40px 67.5px 50px 67.5px;
  border: 5px solid;
  border-color: #222;
  border-radius: 12px;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  width: 302.53px;
  height: 151.667px;
}

.update {
  font-size: 45px;
}

.update a {
  text-align: center;
  width: 157.526px;
  height: 51.667px;
  padding: 40px 67.5px 50px 67.5px;
  margin: 10px 10px 10px 10px;
}

/* .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 155px;
  justify-items: center;
  justify-content: center;
  align-items: start;
  align-content: center;
} */

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #e1e1e1;
  color: #222;
  top: 10px;
  height: 55px;
  width: 55px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 15px;
  outline: none;
}
input[type=radio]:checked::before {
  position: absolute;
  font: 55px/1 'Open Sans', sans-serif;
  top: 0;
  bottom: 0;
  margin: auto;
}
input[type=radio]:hover {
  background-color: #e7e7e7;
}
input[type=radio]:checked {
  background-color: #222;
}

input[type=number] {
  font-size: 55px;
  border: 2px solid #222;
  border-radius: 4px;
  width: 75px;
  text-align: center;
}

.select {
  font-size: 45px;
  border: 2px solid #222;
  border-radius: 4px; 
  margin: 5px;
}

input {
  margin: 5px;
}

/* In order to place the tracking for scanner correctly */
canvas.drawing, canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}

/* #info {
  display: none;
} */